.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.img {
  width: 18px;
  height: 18px;
}

.side {
  display: none;
}

.icon {
  width: 30px;
  height: 30px;
  display: none;
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }
  .buttons {
    display: none;
  }
  .search {
    display: none;
  }

  .side {
    display: block;
  }

  .icon {
    display: block;
  }
}
