.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  align-self: center;
}

.input1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input1 input {
  outline: none;
  border: none;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
}
.input2 input {
  outline: none;
  border: none;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
}

.img {
  width: 18px;
  height: 18px;
}

.buttons {
  display: flex;
  padding: 10px;
}

.login {
  border-radius: 8px;
  border: 2px solid #c7db00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 16px;
  align-items: center;
  color: #c7db00;
  text-align: center;
  font-size: 21px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5px;
  background-color: transparent;
}

.signup {
  padding: 16px 16px;
  align-items: center;
  border-radius: 8px;
  background: #c7db00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side{
  display:none
}


.icon{
  width: 30px;
  height: 30px;
  display: none;
}




@media (max-width: 768px) {

.logo{
  width: 50px;

}
  .buttons{
    display: none;
  }
    .search{
      display: none;
    }

  .side{
    display:block;
  }

  .icon{
    display: block;
  }
  
}