.txt--1 {
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: 3.19rem;
  color: #000;
  text-align: center;
  font-size: 1.3125rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cards {
  display: flex;
  justify-content:center;
  gap: 50px;
  flex-wrap: wrap;

}


.card--1{
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32);
padding: 10px 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.rec{
  object-fit: cover;
  width:100%;
}

.sec1{
  display: flex;
  padding: 20px 10px;
  gap: 32px;

}

.person h2{
color: #000;
font-family: Rubik;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 5px;
}

.person p{
color: #000;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sec2{
  display: flex;
padding: 12px 20px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border-bottom: 1px solid rgba(0, 0, 0, 0.24);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sec2 h3{
  color: #000;
  font-family: Rubik;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
}

.sec2 p{
  color: #000;
font-family: Rubik;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: normal;
align-self: stretch;
}

.star{
  gap: 5px;
}

.emo{
  display: flex;
padding: 11px 76px;
align-items: flex-start;
gap: 30px;
align-self: stretch;
background: #FFF;
}











.card--3{
  width: 374px;
  display: flex;
  flex-direction:column;
  gap: 28px;
  border: 1px solid rgba(0, 0, 0, 0.33);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);

flex-wrap: wrap;




}

.new{
margin-left:5px ;
color: #000;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.card--3-imgs{
  display: flex;
  gap: 10px;
}

.secc{
  display:flex;
  gap: 9px;
}
.card--3-sec2{
  display: flex;
  flex-direction: column;
}

.thumb{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
border: 1px solid rgba(0, 0, 0, 0.27);
}

.show{
color: #000;
font-family: Rubik;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 10px;


}
.card--3-sec1{
  display: flex;
  padding: 8px 10px;
  gap: 32px;
  
}


.tool-tip{
  position: relative;
}
.tooltiptext{
  position: absolute;
  bottom: 25px;
  visibility: visible;
  right: 20px;
   display: none;
  width: 120px;
  background-color: black;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}

.tooltext{
  display: none;
}

