* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 689px;
  background-image: url("/assets/hero1.png"),
    linear-gradient(to left, #d9d9d9, #d9d9d9);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: shrink;
  position: relative;
}

.btn {
  color: #fff;
  text-align: center;
  font: 400 20px "Josefin Sans", sans-serif;
  line-height: normal;
  background-color: transparent;
}

.text {
  margin-top: 300px;
  color: #fff;
  text-align: center;
  font: 700 50px "Josefin Sans", sans-serif;
  line-height: normal;
  margin-right: 180px;
}

.download button {
  color: #000;
  font: 700 16px "Josefin Sans", sans-serif;
  display: flex;
  width: 153px;
  padding: 10px;
  gap: 10px;
  background: #c7db00;
  position: absolute;
  bottom: 10%;
  right: 70px;
  border: none;
  border-radius: 8px;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.download button:hover {
  transform: translateY(-0.33em);
}

.download button:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .text {
    font-size: 35px;
    margin-top: 350px;
    margin-right: 0;
  }

  .download button {
    margin-top: 20px;
    right: 40px;
  }

  .serc {
    margin-top: 50px;
  }
}
