
h1{
 color: #000;
text-align: center;
font-family: Rubik;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-top: 182px;
margin-bottom: 183px;
}



.car{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

}

.img-txt{
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.img-txt p{
    color: #000;
text-align: center;
font-family: Josefin Sans;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;

}